.reset-score-btn{
    margin-top: 16px; /* Move button down below scores */
    margin-left: 2px; /* Move button to the right */
    padding: 6px 12px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    color: #720202;
    background-color: transparent;
    cursor: pointer;
    transition: background 0.2s;
}

.game-container{
    border: 1px solid #1E1E1E;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px 2px cyan;
    border-radius: 8px;
}

.game-title{
    margin-top: 10px;
    margin-bottom: 30px;
}

.score-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Add this to vertically center items */
}

.score {
    border-radius: 10px;
    padding: 0 8px;
    color: white;
}

.correct{
    background-color: green;
}

.wrong{
    background-color: red;
}

.options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.option-button{
    margin-top: 10px;
    padding: 10px 20px;
    width: 300px;
    font-size: 1.2em;
    background-color: #3A3A3A;
    text-align: left;
    border : none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.option-button:hover{
    box-shadow:  0 0 8px 2px cyan;
}

.option-button:disabled{
    cursor: not-allowed;
}

.correct-option{
    background-color: #1fce25;
    font-weight: bold;
}

.reset-score-btn:hover {
    background-color: #b2ebf2;
}